LOG_SERVICE_NAME=relayer
LOG_LEVEL=debug
LOG_TARGET=STDOUT
LOG_DIR=.relayer/log
LOG_FILE=relayer.log
LOG_MAX_BACKUPS=3
LOG_MAX_AGE=28
LOG_MAX_SIZE=500
LOG_COMPRESS=true
LOG_TIME_FORMAT=RFC3339

INBOUND_MQ_ADDR=amqp://guest:guest@rabbitmq:5672/
INBOUND_CH_NAME=channel1
OUTBOUND_MQ_ADDR=amqp://guest:guest@rabbitmq:5672/
OUTBOUND_CH_NAME=channel2

API_PORT=9425
SIGNER_DS_PATH=.relayer-signer/
RELAYER_ROUTES_DS_PATH=.relayer-routes/